# Data missing imputation considering a grouping

This class implements data imputation considering a grouping from a categorical variable. The data used in this example is related to the Australian weather. There are a lot of missing values and they will be filled by the mean, median and mode taking into consideration the location where the data were collected.

The data will be downloaded directly using the kaggle api, but you can find it [here](https://www.kaggle.com/jsphyg/weather-dataset-rattle-package) as well.

The code can be found [here](https://github.com/abreukuse/ml_utilities/blob/master/group_imputer.py) and it has fit and transform capabilities, so it can be used together with sklearn pipelines.

In [1]:
import pandas as pd
import numpy as np
from sklearn.pipeline import make_pipeline

from group_imputer import GroupImputer

import os
os.environ['KAGGLE_USERNAME'] = 'kaggle_username'
os.environ['KAGGLE_KEY'] = 'kaggle_api_key'

In [2]:
!kaggle datasets download -d jsphyg/weather-dataset-rattle-package

Downloading weather-dataset-rattle-package.zip to /content
  0% 0.00/3.83M [00:00<?, ?B/s]
100% 3.83M/3.83M [00:00<00:00, 62.5MB/s]

In [3]:
!unzip 'weather-dataset-rattle-package.zip'

Archive:  weather-dataset-rattle-package.zip
  inflating: weatherAUS.csv

In [4]:
data = pd.read_csv('weatherAUS.csv')
data.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [5]:
data.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [6]:
imputer_mean = GroupImputer(grouping='Location', 
                            
                            columns=['MaxTemp',
                                     'MinTemp',
                                     'Rainfall',
                                     'Evaporation',
                                     'Humidity9am',
                                     'Humidity3pm',
                                     'Temp9am',
                                     'Temp3pm'],
                            
                             strategy='mean')

imputer_median = GroupImputer(grouping='Location', 
                              
                              columns=['Sunshine',
                                       'WindSpeed9am',
                                       'WindSpeed3pm',
                                       'WindGustSpeed',
                                       'Pressure9am',
                                       'Pressure3pm'],
                              
                               strategy='median')

imputer_mode = GroupImputer(grouping='Location', 
                            
                            columns=['WindGustDir',
                                     'WindDir9am',
                                     'WindDir3pm',
                                     'Cloud9am',
                                     'Cloud3pm',
                                     'RainToday'],
                            
                             strategy='mode')

In [7]:
pipeline = make_pipeline(imputer_mean, imputer_median, imputer_mode)
data_nan_imputed = pipeline.fit_transform(data)

In [8]:
data_nan_imputed.head(10)

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No
5  2008-12-06   Albury     14.6  ...     28.9         No            No
6  2008-12-07   Albury     14.3  ...     24.6         No            No
7  2008-12-08   Albury      7.7  ...     25.5         No            No
8  2008-12-09   Albury      9.7  ...     30.2         No           Yes
9  2008-12-10   Albury     13.1  ...     28.2        Yes            No

[10 rows x 23 columns]

In [9]:
data_nan_imputed.isnull().sum()

Date                0
Location            0
MinTemp             0
MaxTemp             0
Rainfall            0
Evaporation         0
Sunshine            0
WindGustDir         0
WindGustSpeed       0
WindDir9am          0
WindDir3pm          0
WindSpeed9am        0
WindSpeed3pm        0
Humidity9am         0
Humidity3pm         0
Pressure9am         0
Pressure3pm         0
Cloud9am            0
Cloud3pm            0
Temp9am             0
Temp3pm             0
RainToday           0
RainTomorrow     3267
dtype: int64

RainTomorrow was not imputed because it is the target.